
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
</head>
<body>
    <div id="login_container">
        <header id="login_header">
            <h1>New Nesca Chat</h1>
        </header>
        <main id="login_main">
            <form action="/" method="POST">
              <label for="username">Nick:</label>
              <input type="text" name="username" id="username" placeholder="Escribe tu nick.." autofocus required/>
              <button type="submit" id="btn">Al lio!</button>
            </form>
        </main>
    </div>
</body>
</html>
